* {
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    margin: 0;
    display: grid;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

section {
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* SET UP SECTION */
button {
    border: none;
    background-color: #FF4B2B;
    color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
    border-radius: 15px;
    height: 30px;
    cursor: pointer;
}

input, select {
    background-color: rgb(245, 245, 245);
    border: none;
    height: 30px;
    border-radius: 1px;
    margin-bottom: 10px;
}

.error-select {
    background-color: rgba(255, 75, 43, 0.5);
}

input, select:focus {
    outline: none;
}

.set-up {
    background-color: white;
    color: rgb(80, 80, 80);
    padding: 5% 10%;
    box-sizing: border-box;
    border-bottom-left-radius: 20% 10%;
    border-bottom-right-radius: 20% 10%;
}

.add-friend {
    display: flex;
    margin-bottom: 20px;
}

.add-friend > input {
    margin: 0;
    padding-left: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-sizing: border-box;
}

.add-friend > button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0px 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form > button {
    width: 60%;
    align-self: center;
}
form > label {
    font-size: .9em;
}

/* RESUME SECTION */
.resume {
    color: white;
}

.resume-title {
    background-color: white;
    color: rgb(80, 80, 80);
    font-weight: 400;
    margin: 0;
    padding: 20px 5px 5px 5px;
    position: absolute;
    top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.cards {
    margin-top: 15px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    margin: 10px;
    border: 1px solid rgb(245, 245, 245);
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}

.user-name {
    padding-left: 5px;
    background-color: rgb(245, 245, 245);
    font-weight: 700;
    color: rgb(255, 75, 43);
}
.user-info {
    padding: 5px;
}

p {
    margin: 0;
    font-weight: lighter;
    font-size: .9em;
}

p > span {
    font-weight: bold;
}

.movements {
    padding: 20px;
    margin: 15px 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(240, 248, 255, .25);
    letter-spacing: 1px;
    width: fit-content;
    
}

.movements > li {
    font-size: .9em;
    font-weight: lighter;
    padding: 5px;
    margin-bottom: 5px;
}

@media screen and (min-width: 992px) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    section {
        width: 50vw;
    }
    .set-up {
        border-bottom-left-radius: 0;
        border-top-right-radius: 20% 100%;
        border-bottom-right-radius: 20% 100%;  
    }
    .resume {
        justify-content: center;
    }
}